.footer {
  /* margin: 0; */
  background-color: rgba(34, 37, 221, 0.904);
  position: relative;
  bottom: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

.footer h1 {
  font-family: 'Festive', cursive;
  color: white;
  margin: 0 ;
}